<flow-definition plugin="workflow-job@1239.v71b_b_a_124a_725">
<actions>
<org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2114.v2654ca_721309"/>
<org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2114.v2654ca_721309">
<jobProperties/>
<triggers/>
<parameters/>
<options/>
</org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
</actions>
<description>Downloading project from GIT, building the project, building a docker container, uploading image to DockerHub and Starting the container.</description>
<keepDependencies>false</keepDependencies>
<properties>
<org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
<triggers>
<hudson.triggers.SCMTrigger>
<spec/>
<ignorePostCommitHooks>false</ignorePostCommitHooks>
</hudson.triggers.SCMTrigger>
</triggers>
</org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
</properties>
<definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2802.v5ea_628154b_c2">
<script>pipeline{ agent any environment { DOCKERHUB_CREDENTIALS=credentials('dockerhub') } stages { stage('gitclone') { steps { git branch: 'main', url: 'https://github.com/ziromko/vue-paper-dashboard.git' } } stage('pre-build') { steps { sh 'npm install' } } stage('build') { steps { sh 'npm run build' } } stage('build docker image') { steps { sh 'sudo docker build -t zirom/vue-paper-dashboard:latest . ' } } stage('Login') { steps { sh 'echo $DOCKERHUB_CREDENTIALS_PSW | sudo docker login -u $DOCKERHUB_CREDENTIALS_USR --password-stdin' } } stage('Push') { steps { sh 'sudo docker push zirom/vue-paper-dashboard:latest' } } stage('Run') { steps { sh 'sudo docker run -d -it zirom/vue-paper-dashboard:latest' } } } post { always { sh 'docker logout' } } }</script>
<sandbox>true</sandbox>
</definition>
<triggers/>
<disabled>false</disabled>
</flow-definition>
